
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6dd5fa, #2980b9);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0;
}

.card {
    background: white;
    padding-top: 25px;
    width: 470px;
    height: 330px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 4px 18px rgb(7, 7, 7);
    margin: 40px;
}

.card h2 {
    color: #070707;
}

.card p {
    color: #000000;
}

.input {
    width: 75%;
    padding: 12px;
    margin: 12px 0;
    border: 3px solid #46b0f7;
    border-radius: 5px;
    outline: none;
}

.input:focus{
    border-color: rgb(249, 3, 3);
}

button {
    padding: 10px 18px;
    margin: 13px;
    border-radius: 6px;
    cursor: pointer;
    color: rgb(8, 8, 8);
    font-weight: bold;
}

#btn{
    background-color: rgb(46, 238, 46);
}

#btn:hover{
    background-color: rgb(9, 194, 19);
    color: white;
}

#reset {
    background-color:rgb(255, 115, 0);
}

#reset:hover{
    background-color:rgb(227, 87, 36);
    color: white;
}

#output {
    font-weight: 600;
    margin-top: 5px;
}